@font-face {
    font-family: NYTimes;
    src: url('../fonts/Olde_English.ttf');
}

html {
  overflow-y: scroll;
}

body {
    background: url("../images/Background.png");
    background-size: 250px;
}

.ny-times-input:focus {
    border-color: black;
    box-shadow: inset 0 0 black, 0 0 5px black;
}

.ny-times-font {
    font-family: NYTimes;
    font-size: 80px;
}

.ny-times-container {
    padding: 10px;
    background: white;
    margin: 40px auto;
    border-radius: 10px;
}

.ny-times-search {
    background: black;
    color: white;
}

.ny-times-search:focus {
    outline: 0;
    border-color: black;
    box-shadow: inset 0 0 black, 0 0 5px black;
}

.ny-times-search:active:focus {
    outline: 0;
}

.ny-times-search:hover {
    background: grey;
    color: white;
}

.ny-times-image {
    max-width: 90px;
    padding: 5px;
    border-radius: 10px;
}

.ny-times-link span {
    font-size: 40px;
}

.ny-times-link {
    color: black;
}

.ny-times-link:hover {
    color: grey;
}

.ny-times-title {
    font-size: 15px;
}

.ny-times-table.ny-times-clickable tbody tr {
    cursor: pointer;
}

.ny-times-table.table > tbody > tr > td {
    vertical-align: middle;
}

.ny-times-table-modal tbody tr td {
    border-top: 0;
}

.ny-times-table.table > tbody tr td:nth-child(2) {
    background: #d3d3d333;
}

/* Mobile */
@media only screen and (max-width: 812px) {
    .ny-times-font {
        font-size: 50px;
    }

    .ny-times-container {
        margin: 0 auto;
        border-radius: 0;
        padding: 0 15px;
    }
}

/* Loader inspired from: https://www.w3schools.com/howto/howto_css_loader.asp */
.ny-times-loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.ny-times-loader-container {
    padding: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
