<table class="table ny-times-table ny-times-clickable">
    <thead>
    <tr>
        <th></th>
        <th class="text-center">Title</th>
        <th class="text-center">Published</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat=" article in articles | orderBy:'pub_date':'reverse' " ng-click="openModal(article)">
        <td class="text-center">
            <img class="ny-times-image" ng-src="{{ selectImage(article.multimedia) }}" alt="Article image">
        </td>
        <td class="ny-times-title">{{ article.headline.main }}</td>
        <td class="text-center">
            <strong>{{ article.pub_date | date:'dd MMM yyyy @ h:mma' }}</strong>
        </td>
    </tr>
    </tbody>
</table>
<div ng-show="loading" class="ny-times-loader-container">
    <div class="ny-times-loader"></div>
</div>
<div ng-show="!loading && articles.length == 0" class="text-center">
    <h3>No articles. Please change the topic.</h3>
    <h4>Not that much power here...</h4>
</div>